<div class="container" *ngIf="pokemon">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
      <mat-card-subtitle>#{{ pokemon.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-card-actions class="button-container">
          <button mat-button (click)="goBack()" class="custom-button-back go-back-button">
            Go back to list
          </button>
          <button
          *ngIf="prevPokemon"
            mat-button
            [disabled]="!prevPokemon"
            (click)="goToPokemon(prevPokemon)"
            class="custom-button nav-button"
            [ngStyle]="{'background-image': 'url(' + prevPokemon.imageUrl + ')'}"
          >
            <span class="overlay-text">Previous</span>
          </button>
          <button
          *ngIf="nextPokemon"
            mat-button
            [disabled]="!nextPokemon"
            (click)="goToPokemon(nextPokemon)"
            class="custom-button nav-button"
            [ngStyle]="{'background-image': 'url(' + nextPokemon.imageUrl + ')'}"
          >
            <span class="overlay-text">Next</span>
          </button>
        </mat-card-actions>

      <div class="infobox">
        <div class="image-gallery">
          <img
            *ngFor="let url of spriteUrls"
            [src]="url"
            [alt]="pokemon.name"
          />
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="pokemon-details">
        <table class="pokemon-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Height</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#{{ pokemon.id }}</td>
              <td>{{ pokemon.name | titlecase }}</td>
              <td>{{ pokemon.height / 10 }} m</td>
              <td>{{ pokemon.weight / 10 }} kg</td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-divider></mat-divider>

      <div class="pokemon-details">
        <table class="pokemon-table2">
          <thead>
            <tr>
              <th>Type</th>
              <th>Stats</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="type-container">
                  <div *ngFor="let type of pokemon.types" class="type-box" [ngStyle]="{'background-color': getTypeColor(type.type.name),  border: '4px solid ', 'border-color': getBorderTypeColor(type.type.name)}">
                    {{ type.type.name | titlecase }}
                  </div>
                </div>
              </td>
              <td>
                <div class="stat-container" *ngFor="let stat of pokemon.stats">
                  <span>{{ stat.stat.name | titlecase }}: {{ stat.base_stat }}</span>
                  <div class="stat-bar">
                    <div class="stat-fill" 
                         [ngStyle]="{'--final-width': stat.percentage + '%', 'background-color': getStatColor(stat.base_stat)}"
                         [class.animate-stat]="showStats"></div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-divider></mat-divider>

      <div class="pokemon-details">
        <table class="pokemon-table">
          <thead>
            <tr>
              <th>Abilities</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                
        <mat-accordion>
          <mat-expansion-panel *ngFor="let ability of abilities">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ ability.name | titlecase }}
                <span *ngIf="ability.isHidden">&nbsp;(Hidden)</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ ability.effect }}</p>
          </mat-expansion-panel>
        </mat-accordion>

              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-divider></mat-divider>

      <div class="pokemon-details">
        <table class="pokemon-table">
          <thead>
            <tr>
              <th>Flavor Text</th>
              <th>Cries</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>            
                <p>{{ flavorText }}</p>
              </td>
              <td>            
                <button mat-raised-button color="primary" (click)="playCryLatest()" class="custom-button-cries">Play Cry (Latest)</button>
                <button *ngIf="audioUrlLegacy" mat-raised-button color="primary" (click)="playCryLegacy()" class="custom-button-cries">Play Cry (Legacy)</button>
              </td>       
            </tr>
          </tbody>
        </table>
      </div>

      <mat-divider></mat-divider>

      <div class="pokemon-details">
        <table class="pokemon-table">
          <thead>
            <tr>
              <th>Moves</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>            
                Every move this pokemon can learn is shown below:
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="pokemon-details">
        <h3>Moves</h3>
        <p>Every move this pokemon can learn is shown below:</p>
        
        <div class="table-container" appDragScroll>
    <table class="pokemon-table moves-table">
      <thead>
        <tr>
          <th>Attack Name</th>
          <th>Type</th>
          <th>Cat.</th>
          <th>Att.</th>
          <th>Acc.</th>
          <th>PP</th>
          <th>Effect %</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let move of moves">
          <tr>
            <td>{{ move.name | titlecase }}</td>
            <td>
              <div class="move-type-container">
                <div [ngStyle]="{'background-color': getTypeColor(move.type), border: '4px solid ', 'border-color': getBorderTypeColor(move.type)}" class="move-type-box">
                  {{  move.type | uppercase }}
                </div>
              </div>
            </td>
            <td>
              <div class="move-category-container">
                <div [ngStyle]="{'background-color': getCategoryColor(move.category), border: '4px solid ', 'border-color': getCategoryTypeColor(move.category)}" class="move-category-box">
                  {{  move.category | uppercase }}
                </div>
              </div>
            </td>
            <td>{{ move.power || '--' }}</td>
            <td>{{ move.accuracy || '--' }}</td>
            <td>{{ move.pp }}</td>
            <td>{{ move.effectChance || '--' }}</td>
          </tr>
          <tr>
            <td colspan="7" class="move-description">{{ move.effect }}</td>
          </tr>
          <br>
        </ng-container>
        
      </tbody>
    </table>
  </div>
</div>

    </mat-card-content>
  </mat-card>
</div>
