<div class="container" *ngIf="pokemon">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ pokemon.name | titlecase }}</mat-card-title>
      <mat-card-subtitle>#{{ pokemon.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">Go back to list</button>
        <button
          mat-button
          [disabled]="!prevPokemon"
          (click)="goToPokemon(prevPokemon)"
          class="nav-button"
        >
          Previous
          <img
            *ngIf="prevPokemon"
            [src]="prevPokemon.imageUrl"
            [alt]="prevPokemon.name"
          />
        </button>
        <button
          mat-button
          [disabled]="!nextPokemon"
          (click)="goToPokemon(nextPokemon)"
          class="nav-button"
        >
          Next
          <img
            *ngIf="nextPokemon"
            [src]="nextPokemon.imageUrl"
            [alt]="nextPokemon.name"
          />
        </button>
      </mat-card-actions>

      <div class="infobox">
        <div class="image-gallery">
          <img
            *ngFor="let url of spriteUrls"
            [src]="url"
            [alt]="pokemon.name"
          />
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="pokemon-details">
        <table class="pokemon-table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Height</th>
              <th>Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#{{ pokemon.id }}</td>
              <td>{{ pokemon.name | titlecase }}</td>
              <td>{{ pokemon.height / 10 }} m</td>
              <td>{{ pokemon.weight / 10 }} kg</td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-divider></mat-divider>

      <div class="pokemon-details">
        <table class="pokemon-table2">
          <thead>
            <tr>
              <th>Type</th>
              <th>Stats</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="type-container">
                  <div *ngFor="let type of pokemon.types" class="type-box" [ngStyle]="{'background-color': getTypeColor(type.type.name)}">
                    {{ type.type.name | titlecase }}
                  </div>
                </div>
              </td>
              <td>
                <div class="stat-container" *ngFor="let stat of pokemon.stats">
                  <span>{{ stat.stat.name | titlecase }}: {{ stat.base_stat }}</span>
                  <div class="stat-bar">
                    <div class="stat-fill" 
                         [ngStyle]="{'--final-width': stat.percentage + '%', 'background-color': getStatColor(stat.base_stat)}"
                         [class.animate-stat]="showStats"></div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-divider></mat-divider>

      <div class="infobox">
        <h3>Abilities</h3>
        <mat-list>
          <mat-list-item *ngFor="let ability of pokemon.abilities">
            {{ ability.ability.name | titlecase }}
            <span *ngIf="ability.is_hidden">(Hidden)</span>
          </mat-list-item>
        </mat-list>
      </div>

      <mat-divider></mat-divider>


      <mat-divider></mat-divider>

      <div class="infobox">
        <h3>Moves</h3>
        <mat-chip-set>
          <mat-chip *ngFor="let move of pokemon.moves.slice(0, 100)">{{
            move.move.name | titlecase
          }}</mat-chip>
        </mat-chip-set>
      </div>
    </mat-card-content>
  </mat-card>
</div>
