<div class="container">

    <div class="selector">
        <button mat-button (click)="goBack()" class="custom-button-back go-back-button">
            Go back to list
        </button>
        
        <mat-form-field appearance="fill">
          <mat-label>Filter by Type</mat-label>
          <mat-select (selectionChange)="onTypeChange($event.value)">
            <mat-option value="">All Types</mat-option>
            <mat-option *ngFor="let type of moveTypes" [value]="type">
                {{ type | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <mat-card-content>
          
        <div class="table-container" appDragScroll>
            <table class="pokemon-table moves-table">
              <thead>
                <tr>
                  <th>Attack Name</th>
                  <th>Type</th>
                  <th>Cat.</th>
                  <th>Att.</th>
                  <th>Acc.</th>
                  <th>PP</th>
                  <th>Effect %</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let move of filteredMoves">
                  <tr>
                    <td>{{ move.name | titlecase }}</td>
                    <td>
                      <div class="move-type-container">
                        <div [ngStyle]="{'background-color': getTypeColor(move.type), border: '4px solid ', 'border-color': getBorderTypeColor(move.type)}" class="move-type-box">
                          {{  move.type | uppercase }}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="move-category-container">
                        <div [ngStyle]="{'background-color': getCategoryColor(move.category), border: '4px solid ', 'border-color': getCategoryTypeColor(move.category)}" class="move-category-box">
                          {{  move.category | uppercase }}
                        </div>
                      </div>
                    </td>
                    <td>{{ move.power || '--' }}</td>
                    <td>{{ move.accuracy || '--' }}</td>
                    <td>{{ move.pp }}</td>
                    <td>{{ move.effectChance || '--' }}</td>
                  </tr>
                  <tr>
                    <td colspan="7" class="move-description">{{ move.effect }}</td>
                  </tr>
                  <br>
                </ng-container>
                
              </tbody>
            </table>
          </div>
    </mat-card-content>
</div>
