.sidebar {
    width: 213px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(56, 112, 56);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 130px;
    font-size: 2rem;
    border-style: solid;
    border-color: black;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar button {
    width: 100%;
    text-align: left;
  }

  a {
    color: rgb(255, 99, 99);
    text-decoration: none;
  }
