.container {
    margin: 0 auto;
    padding: 20px;
    padding-right: 40px;
    color: white;
    overflow: hidden;
    width: 70%;
    background-color: rgb(162, 162, 162);
  }

  mat-card {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-color: rgb(56, 112, 56);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
  }

  mat-card img {
    width: 35%;
    height: auto;
  }

  mat-card:hover {
    background-color: rgb(76, 142, 76);
    transform: scale(1.05); 
}

  mat-paginator {
    margin: 20px 0;
  } 

  .mat-mdc-paginator {
    --mat-paginator-container-text-size: 1.1rem;
  }
 
  mat-form-field {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-grid-list {
    display: grid;
  gap: 10px;
    margin: 20px 0;
  }

  mat-grid-tile {
    padding: 10px !important; /* Sobrescribe el padding por defecto de Angular Material */
  }

 
  .content {
    margin-left: 200px; /* Ancho del sidebar */
    width: calc(100% - 200px);
  }

  

